@font-face {
  font-family: "Poppins";
  src: url("C:/Users/juang/Fonts/Poppins/Poppins-Regular.ttf"),
  }

.component-container{
  /* background-color: blue; */
  height: 100%;
  background-image: url(../../../assets/background/small-gradient-teal-background-scaled.png), url(../../../assets/background/transparent-background-image.png), url(../../../assets/background/gradient-teal-background.png);
  background-size: 95.5vh, 95.5vh, 100% 100%;
  background-position: left center;
  background-repeat: no-repeat;
  justify-content: stretch;
  font-family: 'Roboto', "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
}
/* REGISTRATION INFO */
.registration-info{
  flex: 1 1 45%;
  color: white;
  padding: 0 7rem;
  flex-direction: column;
  justify-content: center;
}
.registration-info h1 {
  font-weight: bold;
}
  .registration-info .info{
    margin-bottom: 1rem;
  }
  .registration-info .info h1{
    margin-bottom: 1rem;
  }
  .items {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .items li {
    gap: 1rem;
  }
  .items h3 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2 !important;
  }
  .items p {
    font-size: .9rem;
  }
    li svg {
      width: 1.5rem;
      height: 1.5rem;
    }

/* REGISTRATION FORM */
.registration-form-container{
  flex: 1 1 55%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--form-bg-color);
  border-radius: 30px 0 0 30px;
  padding: 0 7rem;
}
  .registration-form-container h1{
    font-weight: bold;
    margin: 0;
  }
  .registration-form-container small{
    color: var(--small-text-color);
  }
  .registration-form-container a{
    color: var(--anchor-text-color);
    text-decoration: none;
  }
  .button-container{
    margin: 1rem 0;
  }
  .registration-form-container .submit-button{
    color: white;
    background-color: var(--button-bg-color);
    padding: 1rem 2.5rem;
    border-radius: 16px;
  }
  .registration-form{
    flex-direction: column;
    /* gap: 1rem; */
    margin-top: 2rem;
  }
  .button-container{
    justify-content: space-between;
    align-items: center;
  }
  .login-cta{
    margin-top: 2rem;
  }

/* BREAKPOINTS */

