@font-face {
  font-family: "Poppins";
  src: url("C:/Users/juang/Fonts/Poppins/Poppins-Regular.ttf"),
  }

.component-container{
  height: 100%;
  justify-content: stretch;
  /* font-family: 'Roboto', "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-weight: lighter;
  overflow: hidden;
  position: relative;
}
.component-container::before{
  content: "";
  position: absolute;
  min-width: 50%;
  min-height: 100%;
  max-height: 100vh;
  z-index: -100;
  aspect-ratio: 856 / 900;
  background-image: url(../../../assets/background/small-gradient-teal-background-scaled.png), url(../../../assets/background/iconography-background-image.png), url(../../../assets/background/gradient-teal-background.png);
  background-size: 100%;
  background-position: left center;
  background-repeat: no-repeat;
}
/* REGISTRATION INFO */
.registration-info{
  flex: 1 1 45%;
  color: white;
  /* padding: 0 7rem; */
  flex-direction: column;
  justify-content: center;
  /* breakpoint-related */
  padding: 0 4rem;
}
.registration-info h1, .registration-form-container h1 {
  font-weight: bold;
  margin: 0;
  font-size: 3rem;
}
  .registration-info .info{
    margin-bottom: 1rem;
  }
  .registration-info .info h1{
    margin-bottom: 1rem;
  }
  .items {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .items li {
    gap: 1rem;
  }
  .items h3 {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2 !important;
  }
  .items p {
    font-size: .9rem;
  }
    li svg {
      width: 1.5rem;
      height: 1.5rem;
    }

/* REGISTRATION FORM */
.registration-form-container{
  flex: 1 1 55%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--form-bg-color);
  border-radius: 30px 0 0 30px;
  /* padding: 0 7rem; */
  overflow-y: auto;
  /* breakpoint-related */
  padding: 0 4rem;
}
  .registration-form-container .spacer{
    flex: 1 0;
    min-height: 5rem;
  }
  .registration-form-container small{
    color: var(--small-text-color);
  }
  .registration-form-container a{
    color: var(--anchor-text-color);
    text-decoration: none;
  }
  .registration-form-container a:hover{
    color: var(--anchor-text-color-hover);
    text-decoration: none;
  }
  .button-container{
    margin: 1rem 0;
  }
  .button-container .submit-button{
    color: white;
    background-color: var(--button-bg-color);
    padding: 1rem 2.5rem;
    border-radius: 16px;
  }
  .button-container .submit-button:hover{
    background-color: var(--button-bg-color-hover);
    box-shadow: 0 0 1px 2px var(--button-bg-color);
  }
  .button-container .submit-button:active{
    background-color: var(--button-bg-color-active);
    box-shadow: none;
  }
  .registration-form{
    flex-direction: column;
    margin-top: 2rem;
  }
  .button-container{
    justify-content: space-between;
    align-items: center;
  }
  .login-cta{
    margin-top: 2rem;
  }

/* BREAKPOINTS */
  /* LARGE SCREEN */
.registration-info.large-screen, .registration-form-container.large-screen{
  padding: 0 4rem;
}
.registration-form-container.large-screen{
  justify-content: flex-start;

}
  /* SMALL SCREEN */
.registration-info.small-screen{
  display: none !important;
}
.registration-form-container.small-screen{
  border-radius: 0;
  align-items: center;
}
.registration-form-container h1 {
  display: none;
}
.button-container small.small-screen{
  display: none;
}
.button-container .submit-button.small-screen{
  flex: 1 0;
}
.registration-form.small-screen{
  width: 100%;
}
.registration-form.small-screen .terms-service{
  display: none;
}
.registration-form.small-screen .login-cta{
  /* align-items: center; */
  align-self: center;
}
.spacer.small-screen{
  display: none;
}