.component-container{
  padding: 2rem;
  background-color: var(--dashboard-bg-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}
  .header-section{
    display: flex;
    justify-content: space-between;
  }
    .dashboard-title{
      margin: 0;
      font-size: 1.75rem;
    }
    .user-interactions{
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  .kpis-section{
    /* display: flex; */
    gap: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
    /* .pair-divider{
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    } */
    .kpi-component{
      display: flex;
      flex-grow: 1;
      flex-basis: 0;
    }
  .table-section{
    width: 100%;
    flex: 1 0;
  }
/* 
/* CREATE PLANT MODAL *-/
.modal-content{
  padding: 1rem 2.5rem 2rem;
  gap: .5rem;
}
.modal-title{
  font-size: 2rem;
  font-weight: 500;
}
.modal-header, .modal-body, .modal-footer {
  border: none;
  padding: 0;
}
.modal-body{
  color: var(--small-text-color);
}
.modal-footer{
  justify-content: center;
  /* padding: 0rem 1rem 2rem; *-/
  gap: 1rem;
}
#plant-name-input::placeholder, #plant-country-select{
  color: var(--placeholder-subtle-color);
}
#plant-country-select option{
  color: black;
}
.cancel-button, .create-button{
  width: 7rem;
  margin: 0;
}
.cancel-button{
  border: 1px solid var(--primary-color);
  background-color: #fff;
  color: var(--primary-color);
}
.create-button{
  border: 1px solid #fff;
  background-color: var(--primary-color);
  color: #fff;
} */

/* BREAKPOINTS */
@media (min-width: 1241px) {
  .kpis-section{
    grid-template-columns: repeat(4, 1fr);
  }
}