.component-container{
  display: flex;
  background: #fff;
  border-radius: 15px;
  width: max-content;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.info-section{
  flex: 1 0;
}
.info-section .title{
  font-size: .75rem;
  color: #8E8EA1;
}
.values-holder{
  display: flex;
  justify-content: space-between;
  max-width: 10rem;
  font-size: .8rem;
}
.values-holder .value{
  margin: 0;
}
.icon-value{
  display: flex;
  align-items: center;
  gap: .3rem;
}
.icon-holder{
  display: grid;
  place-content: center;
  border-radius: 100%;
  width: 3.5rem;
  aspect-ratio: 1/1;
  background-color: var(--per-detail-kpi-color-accent);
}