<div class="component-container">
  <!-- Modal -->
  <div class="modal fade" id="createPlantModal" tabindex="-1" aria-labelledby="createPlantModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="createPlantModalLabel">Crear nueva planta</h2>
        </div>
        <div class="modal-body">
          <form class="new-plant-form" [formGroup]="newPlantForm">
            <div class="mb-3">
              <label for="plantName" class="form-label">Nombre planta</label>
              <input type="text" class="form-control" formControlName="plantName" id="plantName" placeholder="Ingrese nombre">
            </div>
            <div class="mb-3">
              <label for="plantCountry" class="form-label">País</label>
              <select required class="form-select" formControlName="plantCountry" id="plantCountry" aria-label="Choose a country">
                <option value="" disabled selected hidden>Seleccione país</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn cancel-button" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn create-button" (click)="submit()">Crear</button>
        </div>
      </div>
    </div>
  </div>
</div>