<div class="component-container">
  <!-- Modal -->
  <div class="modal fade" id="createPlantModal" tabindex="-1" aria-labelledby="createPlantModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="createPlantModalLabel">Crear nueva planta</h2>
        </div>
        <div class="modal-body">
          <form class="new-plant-form" [formGroup]="newPlantForm">
            <div class="mb-3">
              <label [ngClass]="{'error': plantName.touched && plantName.hasError('required')}" for="plantName" class="form-label">Nombre planta</label>
              <input [ngClass]="{'error': plantName.touched && plantName.hasError('required')}" type="text" class="form-control" formControlName="plantName" id="plantName" placeholder="Ingrese nombre">
              @if (plantName.touched && plantName.hasError('required')) {
                <small class="error-hint">Ingrese un nombre</small>
              }
            </div>
            <div class="mb-3">
              <label [ngClass]="{'error': plantCountry.touched && plantCountry.hasError('required')}" for="plantCountry" class="form-label">País</label>
              <select [ngClass]="{'error': plantCountry.touched && plantCountry.hasError('required')}" required class="form-select" formControlName="plantCountry" id="plantCountry" aria-label="Choose a country">
                <option value="" disabled selected hidden>Seleccione país</option>
                <option value="Argentina">Argentina</option>
                <option value="Brasil">Brasil</option>
                <option value="Uruguay">Uruguay</option>
              </select>
              @if (plantCountry.touched && plantCountry.hasError('required')) {
                <small class="error-hint">Seleccione un país</small>
              }
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn cancel-button" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" [disabled]="newPlantForm.invalid" class="btn create-button" data-bs-dismiss="modal" (click)="submit()">Crear</button>
        </div>
      </div>
    </div>
  </div>
</div>