

/* You can add global styles to this file, and also import other style files */
:root{
  --form-bg-color: #fbfcfc;
  --small-text-color: #84818A;
  --anchor-text-color: #33A3AA;
  --button-bg-color: #33A3AA;
  /* font-size: .9rem; */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* TC REGISTER USER COMPONENT */
mat-form-field .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 16px !important;
}
