

/* You can add global styles to this file, and also import other style files */
:root{
  /* GENERAL */
  --primary-color: #33A3AA;
  /* DASHBOARD */
  --dashboard-bg-color: #E9F1F4;
  --kpi-bg-color-ok: #EBF8F9;
  --kpi-bg-color-warning: #FFFACD;
  --kpi-bg-color-error: #F6968180;
  --kpi-bg-color-disabled: #FADABCC9;
  --icon-enabled-color: #000;
  --icon-disabled-color: #C1C1C1;
  --table-accent-color: #B0CAD1;
  --table-row-hover-color: #EFF2F7;
  /* FORMS */
  --form-bg-color: #fbfcfc;
  --small-text-color: #84818A;
  --anchor-text-color: #33A3AA;
  --anchor-text-color-hover: #3B686B;
  --button-bg-color: #33A3AA;
  --button-bg-color-hover: #3B868B;
  --button-bg-color-active: #3B686B;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* TC REGISTER USER COMPONENT */
mat-form-field .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 16px !important;
}
