/* You can add global styles to this file, and also import other style files */
:root{
  --form-bg-color: #fbfcfc;
  --small-text-color: #84818A;
  --anchor-text-color: #33A3AA;
  --button-bg-color: #33A3AA;
}

HTML, body{
  height: 100%;
}