<div class="component-container">
  <!-- Modal -->
  <div class="modal fade" id="editPlantModal" tabindex="-1" aria-labelledby="editPlantModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="editPlantModalLabel">Editar planta</h2>
        </div>
        <div class="modal-body">
          <form class="edit-plant-form" [formGroup]="editPlantForm">
            <div class="mb-3">
              <label for="plantName" class="form-label">Nombre planta</label>
              <input type="text" class="form-control" formControlName="plantName" id="plantName" placeholder="Ingrese nombre">
            </div>
            <div class="mb-3">
              <label for="plantCountry" class="form-label">País</label>
              <select required class="form-select" formControlName="plantCountry" id="plantCountry" aria-label="Choose a country">
                <option [value]="toEditPlant().country_code" disabled selected hidden><span class="fi fi-{{toEditPlant().country_code}}"></span> {{toEditPlant().country}}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="plantOkReadings" class="form-label">Cantidad de lecturas</label>
              <input type="number" class="form-control" formControlName="plantOkReadings" id="plantOkReadings" placeholder="Ingrese">
            </div>
            <div class="mb-3">
              <label for="plantDisabledReadings" class="form-label">Cantidad de lecturas</label>
              <input type="number" class="form-control" formControlName="plantDisabledReadings" id="plantDisabledReadings" placeholder="Ingrese">
            </div>
            <div class="mb-3">
              <label for="plantWarningReadings" class="form-label">Alertas medias</label>
              <input type="number" class="form-control" formControlName="plantWarningReadings" id="plantWarningReadings" placeholder="Ingrese">
            </div>
            <div class="mb-3">
              <label for="plantErrorReadings" class="form-label">Alertas rojas</label>
              <input type="number" class="form-control" formControlName="plantErrorReadings" id="plantErrorReadings" placeholder="Ingrese">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn cancel-button" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn edit-button"  data-bs-dismiss="modal" (click)="submit()">Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>